.augmented__subscription-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8fa;
    margin: 1rem 0 1rem;
    box-shadow: 0px 4px 4px rgba(0, 51, 6, 0.25);

}

.augmented__subscription-container h1 {
    color: brown;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
}

.augmented__subscription-container h2 {
    margin-bottom: 1rem;
    font-family: var(--font-family);
}

.augmented__subscription-container ul {
    margin-bottom: 1rem;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
}


.augmented__subscription-container p {
    margin-bottom: 1rem;
    font-family: var(--font-family);
}

@media screen and (max-width: 1200px) {
    .augmented__subscription-container h1 {
        font-size: 26px;
    }

    .augmented__subscription-container h2 {
        font-size: 20px;
    }

    .augmented__subscription-container ul {
        font-size: 14px;
    }

    .augmented__subscription-container p {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .augmented__subscription-container {
        padding: 1.5rem 0 1.5rem;
    }   
}

@media screen and (max-width: 550px) {
    .augmented__subscription-container {
        padding: 1.5rem 0 1.5rem;
    }   

    .augmented__subscription-container h1 {
        font-size: 26px;
    }

    .augmented__subscription-container h2 {
        font-size: 20px;
    }

    .augmented__subscription-container ul {
        font-size: 12px;
    }

    .augmented__subscription-container p {
        font-size: 12px;
    }
}